.Rproj.user
.Rhistory
.RData
/.Rbuildignore
/svpreprocess.Rproj
/vignettes/svpreprocess.log
/vignettes/svpreprocess.md
/vignettes/svpreprocess.pdf
/trellis.Rproj
TODO.org
/vignettes/amplicons.pdf
tests/testthat/*.rds
/tests/testthat/tmp.R
/vignettes/deletions.pdf
/vignettes/svcnvs.pdf
/TODO.org
/vignettes/Rplots.pdf
/vignettes/svfusions.md
/vignettes/svfusions_v0.0.8.Rmd

/vignettes/svfusions.pdf
inst/doc
svcnvs_files
/vignettes/svrearrange.pdf
/vignettes/svpreprocess.Rmd
/vignettes/svfusions.R
/vignettes/amplicons.log
/vignettes/amplicons.tex
/vignettes/diagram.pdf
/vignettes/svrearrange_files/figure-latex/blat_scores-1.pdf
/tests/testthat/update_objects.R
/vignettes/trellis.html
/vignettes/trellis.pdf
/vignettes/trellis_cache/html/RearrangementList_6c0575d5a0fdf6c36cfeb352b0465fe8.RData
trellis_cache
trellis_files
/tests/testthat/Rplots.pdf
/tests/testthat/fasta_34bd277.log
